/* Breakpoint	Class infix	Dimensions
Extra small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px */


@media screen and (min-width: 576px) {
      
    .sidebar {
        width: 250px;
        text-align: start;
        padding: 0 20px ;
        flex-shrink: 0;
    }
    
    .sidebar ul li {
        list-style-type: none;
        
    }

    .logo-sm img {
        display: none;
    }

    .logo-lg img {
        display: block;
        width: 150px;
    }

    .sidebar ul span {
        display: inline;
        font-size: 0.7rem;
        font-weight: 600;
    }

    .my-playlist {
        visibility: visible;
    }

    .separator, .sidebar h4, .add-playlist {
    display: block;
    }

    #dl-app,  #user-name {
        display: inline-block;
    }

}

@media screen and (min-width: 768px) {

    .container-content {
        max-width: 650px;
    }

    .recent-played .cards {
        width: calc(100% / 4 - 20px);
    }

    .favorites {
        display: flex;
        margin: 0 30px;
    }
}

@media screen and (min-width: 992px) {

    .container-content {
        max-width: 100%;
    }

    .recent-played .cards {
        width: calc(100% / 6 - 20px);
  
    }

}