/* Breakpoint	Class infix	Dimensions
Extra small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px */


@media screen and (min-width: 576px) {
      
    .sidebar {
        width: 250px;
    }
    
    .container {
        margin-left: 250px;
    }
}

@media screen and (min-width: 992px) {

    .container {
        max-width: 850px;
    }
    
    .recent-played .cards {
        width: calc(100% / 4);
    }
}

@media screen and (min-width: 1200px) {
    
    .recent-played .cards {
        width: calc(100% / 6);
    }

}