/* Breakpoint	Class infix	Dimensions
Extra small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px */


@media screen and (min-width: 576px) {
      
    .sidebar {
        width: 250px;
    }
    
    .container {
        margin-left: 250px;
    }

    .sidebar {
        text-align: start;
        padding: 0 20px ;
    }
    
    .sidebar ul li {
        list-style-type: none;
        
    }

    .logo-sm img {
        display: none;
    }

    .logo-lg img {
        display: block;
        width: 150px;
    }

    .sidebar ul span {
        display: inline;
        font-size: 0.7rem;
        font-weight: 600;
    }

    .my-playlist {
        visibility: visible;
    }


}

@media screen and (min-width: 992px) {

    .container {
        max-width: 850px;
    }
    
    .recent-played .cards {
        width: calc(100% / 4);
    }

    .navbar ul li {
        width: calc(100% / 5);
    }
}

@media screen and (min-width: 1200px) {

    .container {
        max-width: 100%;
    }
    
    .recent-played .cards {
        width: calc(100% / 6);
  
    }

    .navbar ul li {
        width: calc(100% / 6);
    }
}