/************* RESET **************/

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/*********** PALET **************/




/*********** GENERICS ********/

body {
    font-family: 'Montserrat', sans-serif;
    color: #A3A3A3;
}

header {
    height: 80px;
    background-color: rgb(20, 25, 34);
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top:0;
    right: 0;
    left: 0;
}

main{
    height: calc(100vh - 80px);
    background-color: rgb(20, 25, 34);
    position: relative;
    overflow-y: scroll;
}

footer {
    height: 80px;
    background-color: #282828;
    position: sticky;
    z-index: 1;
}

a {
    text-decoration: none;
    color: #A3A3A3;
}

h2 {
    height: 50px;
    border: 1px dashed yellow;
    background-color: aqua;
}


/**************** UTILITY ***************/

.container {
    max-width: 500px;
    padding: 0 2rem;
    margin-left: 50px;
}

.d-flex {
    display: flex;
}

.separator {
    border: 1px solid #A3A3A3;
    display: none;
}

/********* NAVBAR ******/

.btn-upgrade{
    display: block;
    border: 1px solid #A3A3A3;
    border-radius: 25px;
    padding: 10px 50px;
    margin-right: 10px;
}

.navbar ul{
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

.navbar ul li {
    width: calc(100% / 4);
    font-size: 0.7rem;
    text-align: center;
    padding: 10px 0;
    font-weight: 800;
}



/* SIDEBAR */

.sidebar{
    width: 50px;
    height: calc(100vh - 80px);
    background-color: black;
    position: fixed;
    top:0;
    left: 0;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar img {
    width: 30px;
    margin: 20px 0;
}

.logo-lg img {
    display: none;
}

.sidebar ul li {
    padding: 10px 0;
}

.sidebar ul span {
    display: none;
}

.my-playlist {
    visibility: collapse;
    height: calc(100vh - 80px);
    flex-direction: column;
}

.my-playlist .add-playlist {
    font-size: 1rem;
}

.my-playlist li {
    font-size: 0.7rem;
    font-weight: 600;
}

.my-playlist h4 {
    padding: 10px 0;
    margin-top: 10px;
    color: white;
}

#dl-app {
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 10px;
    padding: 0 10px;
    display: none;
}

.fa-user {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #A3A3A3;
    color: white;
    text-align: center;
    line-height: 110%;
    margin: 20px 0;
}

#user-name {
    font-weight: 600;
    color: white;
    padding: 0 10px;
    display: none;
}

/********** MAIN CONTENT CARDS/ALBUMS *******/

.recent-played .row {
    flex-wrap: wrap;
}

.recent-played .cards {
    width: calc(100% / 2);
    height: 200px;
    border: 1px dashed green;
}

.img-circle {
    height: 100%;
    border: 1px dashed blue;
    border-radius: 50%;
}

